*{
  box-sizing: border-box;
  margin: 0;
}

body {
  color: $colorDark;
  @include robotoRegular();
}
.main {
  min-height: 100vh;
  min-width: 100vw;
  padding: 30px;
  background: $colorCian;
  @include flexCenterCenter();
}
.tasks__container {
  position: relative;
  min-height: 70vh;
  min-width: 300px;
  margin: 60px 0;
  background: $colorWhite;
  @include borderLayers ();
  z-index: 3;
}
.layer2 {
  position: absolute;
  min-height: 68vh;
  min-width: 310px;
  background-color: $colorWhite;
  @include borderLayers ();
  z-index:2;
}
.layer1 {
  position: absolute;
  min-height: 66vh;
  min-width: 320px;
  background-color: $colorWhite;
  @include borderLayers ();
  z-index:1;
}
.visible {
  display: block;
}
.invisible {
  display: none;
}
.page--input-visible::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($colorWhite, 0.8);
  z-index: 4;
}
