.btn {
  background: inherit;
  cursor: pointer;
}
.btn--add-new {
  padding: 5px;
  width: 100px;
  border: 1.5px solid $colorWhite;
  border-radius: 15px;
  box-shadow: 0 0 1px $colorWhite;
  color: $colorWhite;
  font-size: inherit;
}
.btn--plus {
  @include flexCenterCenter();
  height: 50px;
  width: 50px;
  border: 1.5px solid $colorCian;
  border-radius: 50%;
  box-shadow: 0 0 1px $colorCian;
}
.icon-plus {
  height: 25px;
  width: 25px;
}
