.btn--add-new {  
  padding: 5px;
  width: 100px;
  background: inherit;
  border: 1.5px solid $colorWhite;
  border-radius: 15px;
  box-shadow: 0 0 1px $colorWhite;
  color: $colorWhite;
  font-size: inherit;
}
