.list__container {
  padding: 20px 15px 15px 15px;
}
.tasks {
  list-style: none;
  padding: 0;
}
.task-item {
  margin-bottom: 10px;
  input[type="checkbox"]{
    display: none;
  }
  input[type="checkbox"] + label {
    display: inline-block;
    margin-left: 20px;
    padding-left: 35px;
    background: url('../images/unchecked.png') no-repeat 0 0;
    background-size: contain;
    line-height: 24px;
    text-shadow: 0 0 0.5px;
  }
  input[type=checkbox]:checked + label{
    background: url('../images/checked.png') no-repeat 0 0;
    background-size: contain;
  }
}
.cross {
  text-decoration: line-through;
  color: darkgrey;
}
