.tasks__header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
  border-bottom: 1px solid $colorCian;
}
.date__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 130px;
}
.date--number {
  font-weight: bold;
  font-size: 40px;
  color: $colorCian;
}
