.list__container {
  padding: 20px 15px 15px 15px;
}
.tasks {
  list-style: none;
  padding: 0;
}
.cross {
  text-decoration: line-through;
  color: darkgrey;
}
input[type="checkbox"] + label {
  border-radius: 50%;
}
